@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url(https://cdn-webgl.wrld3d.com/wrldjs/addons/resources/latest/fonts/OpenSans-Light-webfont.woff) format("woff"); }

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(https://cdn-webgl.wrld3d.com/wrldjs/addons/resources/latest/fonts/OpenSans-Regular-webfont.woff) format("woff"); }

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://cdn-webgl.wrld3d.com/wrldjs/addons/resources/latest/fonts/OpenSans-Semibold-webfont.woff) format("woff"); }

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://cdn-webgl.wrld3d.com/wrldjs/addons/resources/latest/fonts/OpenSans-Bold-webfont.woff) format("woff"); }

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"), local("OpenSans-Italic"), url(https://cdn-webgl.wrld3d.com/wrldjs/addons/resources/latest/fonts/OpenSans-Italic-webfont.woff) format("woff"); }

.eegeo-ripple-button {
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    padding: 0;
    position: relative; }
.eegeo-ripple-button:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: radial-gradient(circle, #ffb700 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.5s, opacity 1s; }
.eegeo-ripple-button:active:after {
    transform: scale(0, 0);
    opacity: 0.5;
    transition: 0s; }

.eegeo-indoor-control {
    font: lighter 12pt "Open Sans", sans-serif;
    pointer-events: none;
    position: relative;
    width: 32px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    z-index: 100; }
.eegeo-indoor-control #eegeo-exit-interior-button-container {
    pointer-events: auto;
    position: relative;
    width: 32px;
    height: 32px; }
.eegeo-indoor-control #eegeo-exit-interior-button-container button {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/indoor_control/v233/resources/exit_interior.png");
    background-size: 32px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%; }
.eegeo-indoor-control #eegeo-exit-interior-button-container button:hover {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/indoor_control/v233/resources/exit_interior_hover.png"); }
.eegeo-indoor-control .eegeo-floor-slider {
    margin-top: 34px;
    position: relative;
    width: 32px; }
.eegeo-indoor-control .eegeo-floor-slider .eegeo-floor-slider-thumb {
    background: #fff url("https://cdn-webgl.wrld3d.com/wrldjs/addons/indoor_control/v233/resources/elevator.png") top/42px no-repeat;
    border-radius: 21px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.5);
    color: #404040;
    cursor: pointer;
    font-size: 10pt;
    margin-left: -5px;
    margin-top: -21px;
    pointer-events: auto;
    position: absolute;
    text-align: center;
    width: 42px;
    height: 42px; }
.eegeo-indoor-control .eegeo-floor-slider .eegeo-floor-slider-thumb:hover {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/indoor_control/v233/resources/elevator_hover.png");
    color: #000080; }
.eegeo-indoor-control .eegeo-floor-slider .eegeo-floor-slider-thumb:active {
    background-color: #000080;
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/indoor_control/v233/resources/elevator_active.png");
    color: #fff; }
.eegeo-indoor-control .eegeo-floor-slider .eegeo-floor-slider-thumb .eegeo-floor-slider-thumb-text, .eegeo-indoor-control .eegeo-floor-slider .eegeo-floor-slider-thumb #eegeo-floor-slider-tooltip-hook {
    border-radius: 21px;
    width: 100%;
    height: 100%; }
.eegeo-indoor-control .eegeo-floor-slider .eegeo-floor-slider-thumb .eegeo-floor-slider-thumb-text {
    line-height: 45px;
    position: absolute; }
.eegeo-indoor-control .eegeo-floor-slider .eegeo-floor-slider-thumb #eegeo-floor-slider-tooltip-hook {
    position: relative; }
.eegeo-indoor-control .eegeo-floor-slider .eegeo-floor-slider-tracker {
    background: #cccccc;
    margin: 21px auto 0 auto;
    position: relative;
    transition: opacity 500ms;
    width: 1px; }
.eegeo-indoor-control .eegeo-floor-slider .eegeo-floor-slider-tracker .eegeo-floor-slider-numbers-container {
    color: #cccccc;
    cursor: default;
    margin-top: -8px;
    position: absolute;
    right: 12px;
    text-align: right;
    white-space: nowrap; }
.eegeo-indoor-control .eegeo-floor-slider .eegeo-floor-slider-tracker .eegeo-floor-slider-bars-container {
    left: -6px;
    margin-top: -1px;
    position: absolute;
    width: 14px; }
.eegeo-indoor-control .eegeo-floor-slider .eegeo-floor-slider-tracker .eegeo-floor-slider-bars-container .eegeo-floor-slider-up-indicator-arrow, .eegeo-indoor-control .eegeo-floor-slider .eegeo-floor-slider-tracker .eegeo-floor-slider-bars-container .eegeo-floor-slider-down-indicator-arrow {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    left: 1px;
    position: absolute;
    transition: all 250ms;
    width: 0;
    height: 0; }
.eegeo-indoor-control .eegeo-floor-slider .eegeo-floor-slider-tracker .eegeo-floor-slider-bars-container .eegeo-floor-slider-up-indicator-arrow {
    border-bottom: 8px solid #fff;
    margin-top: -1px;
    top: -16px; }
.eegeo-indoor-control .eegeo-floor-slider .eegeo-floor-slider-tracker .eegeo-floor-slider-bars-container .eegeo-floor-slider-down-indicator-arrow {
    border-top: 8px solid #fff;
    margin-top: -1px;
    bottom: -16px; }
.eegeo-indoor-control .eegeo-floor-slider .eegeo-floor-slider-tracker .eegeo-floor-slider-bar-container {
    width: 100%; }
.eegeo-indoor-control .eegeo-floor-slider .eegeo-floor-slider-tracker .eegeo-floor-slider-bar {
    background: #cccccc;
    width: 100%;
    height: 1px; }

.eegeo-marker {
    margin-left: -23px;
    margin-top: -23px;
    transition: margin-top 0.5s ease-in-out;
    width: 46px;
    height: 46px; }
.eegeo-marker .eegeo-marker-container {
    width: 100%;
    height: 100%; }
.eegeo-marker .eegeo-marker-container .eegeo-marker-body {
    background: transparent url("https://cdn-webgl.wrld3d.com/wrldjs/addons/marker_controller/v233/resources/marker.png") center/46px no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1; }
.eegeo-marker .eegeo-marker-container .eegeo-marker-pin-icon {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 36px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2; }
.eegeo-marker .eegeo-marker-container .eegeo-marker-anchor {
    background: transparent url("https://cdn-webgl.wrld3d.com/wrldjs/addons/marker_controller/v233/resources/marker_anchor.png") center bottom/9px 25px no-repeat;
    left: 18.5px;
    opacity: 0.0;
    position: absolute;
    transition: all 0.5s ease-in-out;
    width: 9px;
    height: 23px;
    z-index: 0; }
.eegeo-marker .eegeo-marker-container.appear {
    animation: appear 0.25s ease-out;
    animation-iteration-count: 1;
    transform-origin: center; }
.eegeo-marker .eegeo-marker-container.disappear {
    animation: disappear 0.25s ease-out;
    animation-iteration-count: 1;
    transform-origin: center; }

@keyframes appear {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0.0; }
    50% {
        opacity: 1.0; }
    100% {
        transform: scale(1, 1); } }

@keyframes disappear {
    0% {
        transform: scale(1, 1); }
    50% {
        opacity: 1.0; }
    100% {
        transform: scale(0.1, 0.1);
        opacity: 0.0; } }

.eegeo-marker.has-anchor {
    margin-top: -68px; }
.eegeo-marker.has-anchor .eegeo-marker-anchor {
    height: 68px;
    opacity: 1.0; }
.eegeo-marker.has-anchor .eegeo-marker-container.appear {
    transform-origin: center 68px; }
.eegeo-marker.has-anchor .eegeo-marker-container.disappear {
    transform-origin: center 68px; }

.eegeo-marker.selected .eegeo-marker-body {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/marker_controller/v233/resources/marker_selected.png"); }

.eegeo-marker.selected .eegeo-marker-body.has-icon {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/marker_controller/v233/resources/marker_selected_with_icon.png"); }

.eegeo-marker.selected .eegeo-marker-anchor {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/marker_controller/v233/resources/marker_anchor_selected.png"); }

/* Assets & Variables */
.poi-view-popup {
    display: block;
    left: 0;
    top: 0;
    overflow: visible;
    z-index: 9999; }

.poi-view-content.scrollable {
    overflow-y: auto;
    padding: 0; }

.poi-view-content {
    background-color: #fff;
    border: 0;
    font-weight: normal;
    margin: 0 0 0 -4px;
    padding: 0;
    width: 334px;
    position: relative; }
.poi-view-content .poi-view-image-container, .poi-view-content .poi-view-html-container, .poi-view-content .poi-view-details, .poi-view-content .poi-view-tags, .poi-view-content .poi-view-description-container {
    border-top: 1px solid #1756a9; }
.poi-view-content .poi-view-details, .poi-view-content .poi-view-tags, .poi-view-content .poi-view-description-container {
    padding: 8px 0; }
.poi-view-content .poi-view-header {
    margin-top: -2px;
    height: 42px; }
.poi-view-content .poi-view-header .tag-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 36px;
    float: left;
    width: 36px;
    height: 36px; }
.poi-view-content .poi-view-header .title-text {
    color: #1756a9;
    font-size: 17pt;
    height: 36px;
    line-height: 36px;
    text-align: left;
    padding-top: 1px;
    word-wrap: break-word; }
.poi-view-content .poi-view-header .title-text span {
    display: inline-block;
    line-height: 22px;
    max-height: 44px;
    overflow: hidden;
    width: 296px; }
.poi-view-content .poi-view-header .close-button {
    background: transparent url("https://cdn-webgl.wrld3d.com/wrldjs/addons/marker_controller/v233/resources/poi_view/POIView_Close.png") center/36px no-repeat;
    border: 0;
    cursor: pointer;
    float: right;
    outline: none;
    padding: 0;
    width: 36px;
    height: 36px; }
.poi-view-content .poi-view-header .close-button:hover, .poi-view-content .poi-view-header .close-button:active {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/marker_controller/v233/resources/poi_view/POIView_Close_Down.png"); }
.poi-view-content .poi-view-image-container {
    padding: 10px 0; }
.poi-view-content .poi-view-image-container .poi-view-image {
    background-image: transparent url("https://cdn-webgl.wrld3d.com/wrldjs/addons/marker_controller/v233/resources/poi_view/POIView_Imageplaceholder.png") center/contain no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 208px; }
.poi-view-content .poi-view-html-container {
    padding: 10px 0; }
.poi-view-content .poi-view-html-container .poi-view-html {
    width: 100%;
    height: 100%; }
.poi-view-content .poi-view-details {
    font-size: 10.5pt;
    color: #404040; }
.poi-view-content .poi-view-details .address-text, .poi-view-content .poi-view-details .phone-text, .poi-view-content .poi-view-details .web-text {
    background: transparent none left 3px/16px no-repeat;
    padding: 2px 0 2px 24px;
    word-wrap: break-word; }
.poi-view-content .poi-view-details .address-text {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/marker_controller/v233/resources/poi_view/POIView_AddressIcons.png"); }
.poi-view-content .poi-view-details .phone-text {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/marker_controller/v233/resources/poi_view/POIView_AddressIcons_Phone.png"); }
.poi-view-content .poi-view-details .web-text {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/marker_controller/v233/resources/poi_view/POIView_WebLink.png");
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
.poi-view-content .poi-view-details .link-icons {
    padding-top: 8px; }
.poi-view-content .poi-view-details .link-icons .email-icon, .poi-view-content .poi-view-details .link-icons .facebook-icon, .poi-view-content .poi-view-details .link-icons .twitter-icon {
    background: transparent none center/48px no-repeat;
    display: inline-block;
    margin-right: 16px;
    width: 49px;
    height: 49px; }
.poi-view-content .poi-view-details .link-icons .email-icon {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/marker_controller/v233/resources/poi_view/POIView_WebLink_EMail.png"); }
.poi-view-content .poi-view-details .link-icons .facebook-icon {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/marker_controller/v233/resources/poi_view/POIView_WebLink_Facebook.png"); }
.poi-view-content .poi-view-details .link-icons .twitter-icon {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/marker_controller/v233/resources/poi_view/POIView_WebLink_Twitter.png"); }
.poi-view-content .poi-view-tags {
    background: transparent url("https://cdn-webgl.wrld3d.com/wrldjs/addons/marker_controller/v233/resources/poi_view/POIView_Tag.png") left 12px/16px 14px no-repeat;
    font-size: 10.5pt;
    color: #404040;
    padding-left: 24px;
    padding-right: 12px;
    text-align: justify;
    word-wrap: break-word; }
.poi-view-content .poi-view-description-container {
    padding: 8px 0 0 0; }
.poi-view-content .poi-view-description-container .subtitle-text {
    background: transparent none left top/16px no-repeat;
    font-size: 10.5pt;
    color: #404040;
    padding: 0 0 4px 24px;
    text-align: left;
    word-wrap: break-word; }
.poi-view-content .poi-view-description-container .description-text {
    background: transparent url("https://cdn-webgl.wrld3d.com/wrldjs/addons/marker_controller/v233/resources/poi_view/POIView_Description.png") left top/16px no-repeat;
    font-size: 10.5pt;
    color: #404040;
    padding-left: 24px;
    text-align: left;
    word-wrap: break-word; }

/* Poi Card */
.poi-card-popup {
    min-height: 24px;
    width: 312px; }
.poi-card-popup .poi-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px;
    float: left;
    margin: 0 0 0 -10px;
    width: 24px;
    height: 24px; }
.poi-card-popup .poi-detail {
    margin-left: 18px;
    width: 312px; }
.poi-card-popup .poi-detail .poi-title {
    color: #1756a9;
    font-size: 14pt;
    font-weight: normal;
    text-align: left;
    word-wrap: break-word; }
.poi-card-popup .poi-detail .poi-address {
    font-size: 10pt;
    color: #909090;
    line-height: 1;
    margin-bottom: 4px; }
.poi-card-popup .poi-detail .poi-tag-icon {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/marker_controller/v233/resources/poi_view/POICard_Tag.png");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
    width: 14px;
    height: 14px;
    margin: 0;
    float: left; }
.poi-card-popup .poi-detail .poi-tags {
    font-size: 10pt;
    color: #606060;
    margin: -2px 0 0 18px; }

/* Adjustments to leaflet style within poi card/view */
.wrld-marker-popup {
    margin-bottom: -2px !important;
    margin-left: 10px; }
.wrld-marker-popup .leaflet-popup-content-wrapper {
    border-radius: 0 !important;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5) !important;
    cursor: pointer;
    width: 366px; }
.wrld-marker-popup .leaflet-popup-tip-container {
    left: 0%;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px; }
.wrld-marker-popup .leaflet-popup-tip {
    margin: 0 0 0 14px;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.3) !important; }

.wrld-marker-popup.offset-for-anchor {
    margin-bottom: 42px !important; }

.leaflet-fade-anim .leaflet-popup {
    transition: none !important; }

.wrld-marker-popup.animate-offset-for-anchor {
    transition: margin-bottom 0.5s ease-in-out !important; }

.poi-card-popup .poi-detail .yelp-review-icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 55px;
    height: 10px;
    display: inline-block;
    margin: 0;
    line-height: 1; }

.poi-card-popup .poi-detail .yelp-review {
    font-size: 8pt;
    display: inline-block;
    line-height: 1;
    vertical-align: text-top;
    margin: 0 0 0 5px; }

.poi-card-popup .poi-detail .yelp-logo {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/marker_controller/v233/resources/yelp/yelp_logo_small.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 14px;
    display: inline-block;
    line-height: 1;
    margin-top: -6px; }

.poi-card-popup .poi-detail .yelp-stars-0 {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/marker_controller/v233/resources/yelp/small_0.png"); }

.poi-card-popup .poi-detail .yelp-stars-1 {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/marker_controller/v233/resources/yelp/small_1.png"); }

.poi-card-popup .poi-detail .yelp-stars-1-half {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/marker_controller/v233/resources/yelp/small_1_half.png"); }

.poi-card-popup .poi-detail .yelp-stars-2 {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/marker_controller/v233/resources/yelp/small_2.png"); }

.poi-card-popup .poi-detail .yelp-stars-2-half {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/marker_controller/v233/resources/yelp/small_2_half.png"); }

.poi-card-popup .poi-detail .yelp-stars-3 {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/marker_controller/v233/resources/yelp/small_3.png"); }

.poi-card-popup .poi-detail .yelp-stars-3-half {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/marker_controller/v233/resources/yelp/small_3_half.png"); }

.poi-card-popup .poi-detail .yelp-stars-4 {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/marker_controller/v233/resources/yelp/small_4.png"); }

.poi-card-popup .poi-detail .yelp-stars-4-half {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/marker_controller/v233/resources/yelp/small_4_half.png"); }

.poi-card-popup .poi-detail .yelp-stars-5 {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/marker_controller/v233/resources/yelp/small_5.png"); }

.wrld-navwidget-container {
    background-color: #ffffff00;
    pointer-events: none;
    color: #404040;
    position: absolute;
    width: 366px;
    height: 100%;
    z-index: 100;
    overflow: hidden;
    display: block;
    transition: transform 300ms ease; }
.wrld-navwidget-container div, .wrld-navwidget-container input {
    box-sizing: border-box; }
.wrld-navwidget-container * {
    font-family: "Open Sans", sans-serif; }
.wrld-navwidget-container.collapsed {
    transform: translateX(-100%); }
.wrld-navwidget-container.expanded {
    transform: translateX(0px); }
.wrld-navwidget-container .top-panel {
    position: relative;
    pointer-events: auto;
    height: 88px;
    box-shadow: 0px 2px 4px rgba(102, 102, 102, 0.5); }
.wrld-navwidget-container .bottom-panel {
    position: relative;
    pointer-events: auto;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(102, 102, 102, 0.5);
    transition: transform 300ms ease;
    height: calc(100% - 88px); }
.wrld-navwidget-container .bottom-panel.collapsed {
    transform: translateX(-100%); }
.wrld-navwidget-container .bottom-panel.expanded {
    transform: translateX(0px); }
.wrld-navwidget-container .time-to-destination-panel {
    background-color: #F0F0F0;
    box-shadow: 0px 2px 4px rgba(102, 102, 102, 0.5);
    height: 62px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #002B63;
    overflow: hidden; }
.wrld-navwidget-container .time-to-destination-panel-flex-container-outer {
    display: flex;
    flex-direction: row;
    margin-left: 10px; }
.wrld-navwidget-container .time-to-destination-panel-flex-container-outer > div {
    margin: 2px 2px 2px 2px;
    padding: 1px;
    color: #002B63; }
.wrld-navwidget-container .time-to-destination-panel-flex-container-inner {
    display: flex;
    flex-direction: column; }
.wrld-navwidget-container .time-to-destination-panel-mins-number {
    font-size: 40px; }
.wrld-navwidget-container .time-to-destination-panel-mins-label {
    font-size: 17px; }
.wrld-navwidget-container .time-to-destination-panel-secs-number {
    display: inline;
    font-size: 17px; }
.wrld-navwidget-container .time-to-destination-panel-secs-label {
    display: inline;
    font-size: 12px; }
.wrld-navwidget-container .directions-panel {
    height: calc(100% - 62px);
    pointer-events: auto;
    overflow-y: auto; }
.wrld-navwidget-container .directions-panel::-webkit-scrollbar {
    background-color: transparent;
    width: 12px; }
.wrld-navwidget-container .directions-panel::-webkit-scrollbar-thumb {
    background: #cccccc;
    border: 3px solid transparent;
    background-clip: content-box;
    border-radius: 10px; }
.wrld-navwidget-container .directions-panel::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
    background-clip: content-box; }
.wrld-navwidget-container .direction-row {
    color: #000000;
    display: flex;
    flex-direction: row;
    padding: 3px;
    margin-top: 6px;
    height: 40px;
    cursor: pointer; }
.wrld-navwidget-container .direction-row.highlighted {
    background-color: #d9d9d9; }
.wrld-navwidget-container .direction-name {
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    align-self: center;
    max-height: 40px;
    line-height: 20px;
    width: 0;
    flex-grow: 1; }
@supports (-webkit-line-clamp: 2) {
    .wrld-navwidget-container .direction-name {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        display: -webkit-box; } }
.wrld-navwidget-container .direction-icon {
    width: 32px;
    height: 32px;
    flex-basis: 32px;
    margin-right: 6px;
    align-self: center; }

.wrld-setup-journey-panel {
    background: #fff;
    display: flex;
    flex-direction: row;
    padding: 6px;
    overflow: hidden; }
.wrld-setup-journey-panel .div-left {
    text-align: right; }
.wrld-setup-journey-panel .div-centre {
    display: flex;
    flex-direction: column;
    flex: 1;
    transition: opacity 300ms ease; }
.wrld-setup-journey-panel .div-centre.hidden {
    opacity: 0; }
.wrld-setup-journey-panel .div-centre.visible {
    opacity: 1; }
.wrld-setup-journey-panel .div-right {
    align-self: center; }
.wrld-setup-journey-panel .nav-location-container {
    display: flex;
    background: #fff;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    margin-right: 6px;
    margin-top: 6px;
    margin-bottom: 6px;
    outline: none;
    padding-right: 8px; }
.wrld-setup-journey-panel .nav-location-container .text-field {
    border: 0;
    font-size: 11pt;
    font-weight: normal;
    margin: 0;
    outline: none;
    padding-left: 8px;
    width: 100%;
    height: 100%; }
.wrld-setup-journey-panel .nav-location-container .text-field::-ms-clear {
    display: none; }
.wrld-setup-journey-panel .nav-location-container .clear-icon {
    border: none;
    margin: auto;
    outline: 0;
    right: 4px;
    top: 0;
    bottom: 0;
    background-color: transparent;
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/navigation/v233/resources/clear_text.png");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 1;
    width: 20px;
    height: 20px; }
.wrld-setup-journey-panel .nav-location-container .clear-icon:active {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/navigation/v233/resources/clear_text_down.png"); }
.wrld-setup-journey-panel .nav-location-container .location-icon {
    display: block;
    margin-left: 6px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat; }
.wrld-setup-journey-panel .nav-location-container .location-icon.start {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/navigation/v233/resources/searchbox_location.png"); }
.wrld-setup-journey-panel .nav-location-container .location-icon.end {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/navigation/v233/resources/searchbox_destination.png"); }
.wrld-setup-journey-panel .back-button {
    border: none;
    margin-left: 12px;
    margin-top: 6px;
    margin-right: 6px;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/navigation/v233/resources/menu_back.png") white no-repeat; }
.wrld-setup-journey-panel .back-button:active {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/navigation/v233/resources/menu_back_down.png");
    background-color: #1756a9; }
.wrld-setup-journey-panel .switch-fields-button {
    border: none;
    margin-left: 6px;
    margin-top: 6px;
    margin-right: 12px;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/navigation/v233/resources/switch_fields.png") white no-repeat; }
.wrld-setup-journey-panel .switch-fields-button:active {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/navigation/v233/resources/switch_fields_down.png");
    background-color: #1756a9; }

.search-panel {
    background: #fff;
    border: 0;
    padding: 6px;
    width: 100%;
    height: auto;
    overflow: auto; }

.search-panel-dropdown {
    background: #f0f;
    position: absolute;
    top: 0px;
    width: 100%;
    transition: transform 500ms ease; }
.search-panel-dropdown.collapsed {
    transform: translateY(-100%); }
.search-panel-dropdown.expanded {
    transform: translateY(0px); }

.wrld-routeview-marker {
    margin-left: -26.5px;
    margin-top: -53px;
    width: 53px;
    height: 53px; }
.wrld-routeview-marker .wrld-routeview-marker-container {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 53px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1; }
.wrld-routeview-marker .wrld-routeview-marker-icon {
    background-color: transparent;
    background-position-x: center;
    background-position-y: 6px;
    background-repeat: no-repeat;
    background-size: 32px;
    position: absolute;
    margin-top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2; }

.eegeo-searchbar-container {
    color: #404040;
    position: relative;
    width: 366px;
    height: 44px;
    z-index: 100; }
.eegeo-searchbar-container.visible {
    transform: translateY(0px); }
.eegeo-searchbar-container.hidden {
    transform: translateY(-150%); }
.eegeo-searchbar-container.animated {
    transition: transform 300ms ease; }
.eegeo-searchbar-container.no-menu #eegeo-searchbar {
    padding-left: 6px; }
.eegeo-searchbar-container div, .eegeo-searchbar-container input {
    box-sizing: border-box; }
.eegeo-searchbar-container * {
    font-family: "Open Sans", sans-serif; }
.eegeo-searchbar-container .disabled-overlay {
    opacity: 0.25;
    background-color: #202020;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%; }
.eegeo-searchbar-container .back-button {
    left: 6px;
    top: 6px;
    position: absolute;
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/searchbar/v233/resources/menu_back.png");
    background-size: 32px;
    width: 32px;
    height: 32px; }
.eegeo-searchbar-container .back-button:hover {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/searchbar/v233/resources/menu_back_hover.png"); }

#eegeo-searchbar-menu-button-container {
    float: left;
    left: 6px;
    top: 6px;
    position: absolute;
    width: 32px;
    height: 32px; }
#eegeo-searchbar-menu-button-container button {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/searchbar/v233/resources/menu_button.png");
    background-size: 32px;
    width: 100%;
    height: 100%; }
#eegeo-searchbar-menu-button-container button:hover {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/searchbar/v233/resources/menu_button_hover.png"); }

.eegeo-searchbar-menu-container {
    background-color: #fff;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    position: absolute;
    width: 100%; }
.eegeo-searchbar-menu-container .header-container {
    height: 32px;
    margin: 6px; }
.eegeo-searchbar-menu-container .header-container .header-text {
    font-size: 15pt;
    font-weight: normal;
    padding: 2px 0 0 38px; }
.eegeo-searchbar-menu-container hr {
    border-style: inset;
    border-width: 1px;
    margin: 8px 7px 4px 7px; }
.eegeo-searchbar-menu-container .menu-body-container .menu-option-group .title-container {
    height: 30px;
    margin: 0 8px 2px 8px; }
.eegeo-searchbar-menu-container .menu-body-container .menu-option-group .title-container:hover {
    cursor: pointer; }
.eegeo-searchbar-menu-container .menu-body-container .menu-option-group .title-container .title-text {
    font-size: 13pt;
    font-weight: normal;
    height: 100%;
    padding: 2px 0 0 8px; }
.eegeo-searchbar-menu-container .menu-body-container .menu-option-group .title-container .toggle-button {
    background: transparent url("https://cdn-webgl.wrld3d.com/wrldjs/addons/searchbar/v233/resources/menu_option_group_expand_collapse.png") center no-repeat;
    border: 0;
    float: right;
    outline: none;
    padding: 0;
    transition: transform 0.35s;
    width: 30px;
    height: 30px; }
.eegeo-searchbar-menu-container .menu-body-container .menu-option-group .title-container .toggle-button.expanded {
    transform: rotateZ(-90deg); }
.eegeo-searchbar-menu-container .menu-body-container .menu-option-group .option-list-container .option-row {
    background: #f5f5f5;
    height: 36px;
    margin: 0 8px 2px 8px;
    overflow: hidden;
    position: relative; }
.eegeo-searchbar-menu-container .menu-body-container .menu-option-group .option-list-container .option-row:hover {
    background: #dff5fe;
    cursor: pointer; }
.eegeo-searchbar-menu-container .menu-body-container .menu-option-group .option-list-container .option-row .icon {
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    position: absolute;
    width: 44px;
    height: 36px; }
.eegeo-searchbar-menu-container .menu-body-container .menu-option-group .option-list-container .option-row .text {
    bottom: 0;
    font-size: 11pt;
    font-weight: normal;
    height: 36px;
    margin-right: 8px;
    overflow: hidden;
    padding-left: 44px;
    padding-top: 8px;
    position: absolute;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap; }
.eegeo-searchbar-menu-container .menu-body-container .menu-option-group .option-list-container .option-row.row-expand {
    animation: row-expand 0.35s ease-out; }
.eegeo-searchbar-menu-container .menu-body-container .menu-option-group .option-list-container .option-row.row-collapse {
    animation: row-collapse 0.35s ease-out; }

@keyframes row-expand {
    0% {
        height: 0; }
    100% {
        height: 36px; } }

@keyframes row-collapse {
    0% {
        height: 36px; }
    100% {
        height: 0; } }

#eegeo-results-container {
    position: relative;
    width: 100%; }
#eegeo-results-container .autocomplete-options-group {
    background: #fff;
    border: none;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);
    margin-top: 4px;
    position: relative;
    width: 100%; }
#eegeo-results-container .autocomplete-options-group .header {
    color: #1756a9;
    font-size: 11pt;
    font-weight: normal;
    padding: 12px 0 0 44px;
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
#eegeo-results-container .autocomplete-option-row {
    border: none;
    width: 100%;
    height: 36px;
    border-bottom: 1px solid #EFEFEF; }
#eegeo-results-container .autocomplete-option-row:hover {
    background: #dff5fe;
    cursor: pointer; }
#eegeo-results-container .autocomplete-option-row .icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    float: left;
    width: 44px;
    height: 100%; }
#eegeo-results-container .autocomplete-option-row .text {
    height: 100%;
    margin-right: 8px;
    text-align: left;
    white-space: nowrap; }
#eegeo-results-container .autocomplete-option-row .text .title {
    font-size: 11pt;
    font-weight: normal;
    height: 100%;
    overflow: hidden;
    padding-top: 8px;
    text-overflow: ellipsis; }
#eegeo-results-container .autocomplete-option-row.with-subtitle {
    height: 58px; }
#eegeo-results-container .autocomplete-option-row.with-subtitle .text .title {
    height: 50%; }
#eegeo-results-container .autocomplete-option-row.with-subtitle .text .subtitle {
    font-size: 10pt;
    font-weight: lighter;
    height: 50%;
    overflow: hidden;
    padding-bottom: 0px;
    text-overflow: ellipsis; }
#eegeo-results-container .search-results-group {
    background: #fff;
    border: none;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);
    margin-top: 4px;
    min-height: 32px;
    position: relative;
    width: 100%; }
#eegeo-results-container .search-results-group .search-result-elements-container .search-result-row {
    border: none;
    min-height: 46px;
    max-height: 92px;
    width: 100%;
    padding: 8px 0 10px 0;
    border-bottom: 1px solid #EFEFEF; }
#eegeo-results-container .search-results-group .search-result-elements-container .search-result-row:hover {
    background: #dff5fe;
    cursor: pointer; }
#eegeo-results-container .search-results-group .search-result-elements-container .search-result-row .icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    float: left;
    margin-top: 2px;
    width: 44px;
    height: 30px; }
#eegeo-results-container .search-results-group .search-result-elements-container .search-result-row .details {
    height: 100%;
    margin-left: 44px;
    padding-right: 8px;
    text-align: left;
    white-space: nowrap; }
#eegeo-results-container .search-results-group .search-result-elements-container .search-result-row .details .title, #eegeo-results-container .search-results-group .search-result-elements-container .search-result-row .details .subtitle, #eegeo-results-container .search-results-group .search-result-elements-container .search-result-row .details .tags {
    overflow: hidden;
    text-overflow: ellipsis; }
#eegeo-results-container .search-results-group .search-result-elements-container .search-result-row .details .title {
    font-size: 11pt;
    font-weight: normal;
    line-height: 20px; }
#eegeo-results-container .search-results-group .search-result-elements-container .search-result-row .details .subtitle {
    color: #909090;
    font-size: 10pt;
    font-weight: normal;
    line-height: 20px;
    padding-bottom: 1px; }
#eegeo-results-container .search-results-group .search-result-elements-container .search-result-row .details .tags {
    color: #606060;
    font-size: 10pt;
    line-height: 20px;
    margin-top: -2px; }
#eegeo-results-container .search-results-group .search-result-elements-container .search-result-row .details .tag-icon {
    background: transparent url("https://cdn-webgl.wrld3d.com/wrldjs/addons/searchbar/v233/resources/tag_icon.png") center/16px no-repeat;
    float: left;
    margin: 2px 4px 0 0;
    width: 16px;
    height: 16px; }
#eegeo-results-container .search-results-group .search-result-elements-container .search-result-row .details .yelp {
    height: 18px; }
#eegeo-results-container .search-results-group .search-result-elements-container .search-result-row .details .yelp .yelp-review-icon, #eegeo-results-container .search-results-group .search-result-elements-container .search-result-row .details .yelp .review-text, #eegeo-results-container .search-results-group .search-result-elements-container .search-result-row .details .yelp .yelp-logo {
    display: inline-block;
    height: 100%; }
#eegeo-results-container .search-results-group .search-result-elements-container .search-result-row .details .yelp .yelp-review-icon, #eegeo-results-container .search-results-group .search-result-elements-container .search-result-row .details .yelp .yelp-logo {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat; }
#eegeo-results-container .search-results-group .search-result-elements-container .search-result-row .details .yelp .yelp-review-icon {
    background-size: 64px 13px;
    width: 64px; }
#eegeo-results-container .search-results-group .search-result-elements-container .search-result-row .details .yelp .yelp-stars-0 {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/searchbar/v233/resources/regular_0.png"); }
#eegeo-results-container .search-results-group .search-result-elements-container .search-result-row .details .yelp .yelp-stars-1 {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/searchbar/v233/resources/regular_1.png"); }
#eegeo-results-container .search-results-group .search-result-elements-container .search-result-row .details .yelp .yelp-stars-1-half {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/searchbar/v233/resources/regular_1_half.png"); }
#eegeo-results-container .search-results-group .search-result-elements-container .search-result-row .details .yelp .yelp-stars-2 {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/searchbar/v233/resources/regular_2.png"); }
#eegeo-results-container .search-results-group .search-result-elements-container .search-result-row .details .yelp .yelp-stars-2-half {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/searchbar/v233/resources/regular_2_half.png"); }
#eegeo-results-container .search-results-group .search-result-elements-container .search-result-row .details .yelp .yelp-stars-3 {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/searchbar/v233/resources/regular_3.png"); }
#eegeo-results-container .search-results-group .search-result-elements-container .search-result-row .details .yelp .yelp-stars-3-half {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/searchbar/v233/resources/regular_3_half.png"); }
#eegeo-results-container .search-results-group .search-result-elements-container .search-result-row .details .yelp .yelp-stars-4 {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/searchbar/v233/resources/regular_4.png"); }
#eegeo-results-container .search-results-group .search-result-elements-container .search-result-row .details .yelp .yelp-stars-4-half {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/searchbar/v233/resources/regular_4_half.png"); }
#eegeo-results-container .search-results-group .search-result-elements-container .search-result-row .details .yelp .yelp-stars-5 {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/searchbar/v233/resources/regular_5.png"); }
#eegeo-results-container .search-results-group .search-result-elements-container .search-result-row .details .yelp .review-text {
    font-size: 8pt;
    line-height: 18px;
    padding: 0 4px 0 6px;
    text-align: center;
    vertical-align: top; }
#eegeo-results-container .search-results-group .search-result-elements-container .search-result-row .details .yelp .yelp-logo {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/searchbar/v233/resources/yelp_logo.png");
    width: 40px; }
#eegeo-results-container .search-results-group .more-results {
    color: #1756a9;
    cursor: pointer;
    height: 32px;
    min-height: 32px;
    padding-top: 4px; }
#eegeo-results-container .search-results-group .more-results .more-results-icon {
    background: transparent url("https://cdn-webgl.wrld3d.com/wrldjs/addons/searchbar/v233/resources/more_results_icon.png") center/24px no-repeat;
    float: left;
    width: 44px;
    height: 24px; }
#eegeo-results-container .search-results-group .more-results .more-results-text {
    font-size: 11pt;
    font-weight: normal;
    margin-left: 44px;
    padding-top: 2px;
    text-decoration: underline; }
#eegeo-results-container .search-results-group .more-results:hover {
    color: #000080; }
#eegeo-results-container .search-results-group .more-results:hover .more-results-icon {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/searchbar/v233/resources/more_results_icon_hover.png"); }
#eegeo-results-container .search-results-group .pagination-footer {
    background-color: #fff;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.5);
    min-height: 42px;
    padding-top: 8px;
    width: 100%;
    height: 42px; }
#eegeo-results-container .search-results-group .pagination-footer .results-number-text {
    font-size: 11pt;
    font-weight: normal;
    padding-top: 2px;
    position: absolute;
    text-align: center;
    width: 100%; }
#eegeo-results-container .search-results-group .pagination-footer .left-arrow-button, #eegeo-results-container .search-results-group .pagination-footer .right-arrow-button {
    background: transparent url("https://cdn-webgl.wrld3d.com/wrldjs/addons/searchbar/v233/resources/pagination_arrow_active_icon.png") center no-repeat;
    cursor: pointer;
    position: absolute;
    width: 11px;
    height: 20px; }
#eegeo-results-container .search-results-group .pagination-footer .left-arrow-button:hover, #eegeo-results-container .search-results-group .pagination-footer .right-arrow-button:hover {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/searchbar/v233/resources/pagination_arrow_active_icon_hover.png"); }
#eegeo-results-container .search-results-group .pagination-footer .left-arrow-button.inactive, #eegeo-results-container .search-results-group .pagination-footer .right-arrow-button.inactive {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/searchbar/v233/resources/pagination_arrow_inactive_icon.png");
    cursor: default; }
#eegeo-results-container .search-results-group .pagination-footer .left-arrow-button {
    margin: 3px 0 0 112px; }
#eegeo-results-container .search-results-group .pagination-footer .right-arrow-button {
    margin: 3px 0 0 244px;
    transform: scaleX(-1); }

.eegeo-searchbar-container .menu-body-container,
.eegeo-searchbar-container .search-result-elements-container,
.eegeo-searchbar-container .option-list-container,
.eegeo-searchbar-container .autocomplete-option-elements-container {
    overflow-y: auto;
    scrollbar-base-color: #cccccc;
    scrollbar-shadow-color: #fff;
    scrollbar-track-color: #fff;
    scrollbar-arrow-color: #cccccc; }

.eegeo-searchbar-container .menu-body-container::-webkit-scrollbar,
.eegeo-searchbar-container .search-result-elements-container::-webkit-scrollbar,
.eegeo-searchbar-container .option-list-container::-webkit-scrollbar,
.eegeo-searchbar-container .autocomplete-option-elements-container::-webkit-scrollbar {
    background-color: #fff;
    width: 6px; }

.eegeo-searchbar-container .menu-body-container::-webkit-scrollbar-thumb,
.eegeo-searchbar-container .search-result-elements-container::-webkit-scrollbar-thumb,
.eegeo-searchbar-container .option-list-container::-webkit-scrollbar-thumb,
.eegeo-searchbar-container .autocomplete-option-elements-container::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

#eegeo-searchbar {
    background: #fff;
    border: 0;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.5);
    padding: 6px 44px;
    position: relative;
    width: 100%;
    height: 100%; }
#eegeo-searchbar.showing-search-results {
    background: #000080; }
#eegeo-searchbar.has-input .text-field-container {
    border-color: #1756a9; }
#eegeo-searchbar.has-input #eegeo-searchbar-search-button-container button {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/searchbar/v233/resources/search_button_autosuggest.png"); }
#eegeo-searchbar .text-field-container {
    background: #fff;
    border: 1px solid #aaaaaa;
    display: block;
    float: left;
    margin-right: 6px;
    outline: none;
    padding-right: 8px;
    position: relative;
    width: 100%;
    height: 100%; }
#eegeo-searchbar .text-field-container .text-field {
    border: 0;
    display: block;
    float: left;
    font-size: 11pt;
    font-weight: normal;
    margin: 0;
    outline: none;
    padding-left: 8px;
    width: 100%;
    height: calc(100% - 2*1px); }
#eegeo-searchbar .text-field-container .text-field::-ms-clear {
    display: none; }
#eegeo-searchbar .text-field-container .clear-icon, #eegeo-searchbar .text-field-container .spinner-icon {
    border: none;
    display: block;
    margin: auto;
    outline: 0;
    position: absolute;
    right: 4px;
    top: 0;
    bottom: 0; }
#eegeo-searchbar .text-field-container .clear-icon:hover, #eegeo-searchbar .text-field-container .spinner-icon:hover {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/searchbar/v233/resources/clear_search_hover.png");
    animation: none; }
#eegeo-searchbar .text-field-container .clear-icon {
    background: transparent url("https://cdn-webgl.wrld3d.com/wrldjs/addons/searchbar/v233/resources/clear_search_icon.png") center/16px no-repeat;
    cursor: pointer;
    opacity: 1;
    width: 16px;
    height: 16px; }
#eegeo-searchbar .text-field-container .clear-icon.fade {
    cursor: default;
    opacity: 0;
    pointer-events: none; }
#eegeo-searchbar .text-field-container .spinner-icon {
    animation: spin 0.75s linear infinite;
    background: transparent url("https://cdn-webgl.wrld3d.com/wrldjs/addons/searchbar/v233/resources/spinner_icon.png") center/16px no-repeat;
    transform-origin: center;
    width: 16px;
    height: 16px; }

@keyframes spin {
    0% {
        transform: rotate(0deg); }
    100% {
        transform: rotate(360deg); } }
#eegeo-searchbar #eegeo-searchbar-search-button-container {
    position: absolute;
    right: 6px;
    width: 32px;
    height: 32px; }
#eegeo-searchbar #eegeo-searchbar-search-button-container button {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/searchbar/v233/resources/search_button.png");
    background-size: 32px;
    width: 100%;
    height: 100%; }
#eegeo-searchbar #eegeo-searchbar-search-button-container button:hover {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/searchbar/v233/resources/search_button_hover.png"); }

.eegeo-tooltip-container {
    animation: fade-in 0.25s linear;
    cursor: default;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    text-align: left;
    transition: opacity 250ms;
    z-index: 200; }
.eegeo-tooltip-container div {
    box-sizing: border-box; }

@keyframes fade-in {
    0% {
        opacity: 0; }
    100% {
        opacity: 1; } }
.eegeo-tooltip-container .eegeo-tooltip-text {
    background-color: #000080;
    border-radius: 6px;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: default;
    font-size: 11pt;
    font-weight: normal;
    line-height: normal;
    padding: 5px 20px;
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    vertical-align: middle; }
.eegeo-tooltip-container .eegeo-tooltip-text .eegeo-tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0; }
.eegeo-tooltip-container .eegeo-tooltip-text.eegeo-arrow-left .eegeo-tooltip-arrow, .eegeo-tooltip-container .eegeo-tooltip-text.eegeo-arrow-right .eegeo-tooltip-arrow {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; }
.eegeo-tooltip-container .eegeo-tooltip-text.eegeo-arrow-left {
    margin-left: 10px; }
.eegeo-tooltip-container .eegeo-tooltip-text.eegeo-arrow-left .eegeo-tooltip-arrow {
    border-right: 10px solid #000080;
    left: -10px;
    top: 50%;
    transform: translateY(-50%); }
.eegeo-tooltip-container .eegeo-tooltip-text.eegeo-arrow-right {
    margin-right: 10px; }
.eegeo-tooltip-container .eegeo-tooltip-text.eegeo-arrow-right .eegeo-tooltip-arrow {
    border-left: 10px solid #000080;
    right: -10px;
    top: 50%;
    transform: translateY(-50%); }
.eegeo-tooltip-container .eegeo-tooltip-text.eegeo-arrow-top .eegeo-tooltip-arrow, .eegeo-tooltip-container .eegeo-tooltip-text.eegeo-arrow-bottom .eegeo-tooltip-arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent; }
.eegeo-tooltip-container .eegeo-tooltip-text.eegeo-arrow-top {
    margin-top: 10px; }
.eegeo-tooltip-container .eegeo-tooltip-text.eegeo-arrow-top .eegeo-tooltip-arrow {
    border-bottom: 10px solid #000080;
    left: 50%;
    top: -10px;
    transform: translateX(-50%); }
.eegeo-tooltip-container .eegeo-tooltip-text.eegeo-arrow-bottom {
    margin-bottom: 10px; }
.eegeo-tooltip-container .eegeo-tooltip-text.eegeo-arrow-bottom .eegeo-tooltip-arrow {
    border-top: 10px solid #000080;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%); }
.eegeo-tooltip-container .eegeo-tooltip-text.eegeo-caution-icon {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/tooltip/v233/resources/caution_icon.png");
    background-position: center 5px;
    background-repeat: no-repeat;
    background-size: 28px;
    padding-top: 33px; }

.eegeo-zoom-buttons-container {
    position: relative;
    z-index: 100; }
.eegeo-zoom-buttons-container #eegeo-zoom-in-button-container, .eegeo-zoom-buttons-container #eegeo-zoom-out-button-container {
    background-size: 32px;
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px; }
.eegeo-zoom-buttons-container #eegeo-zoom-in-button-container button, .eegeo-zoom-buttons-container #eegeo-zoom-out-button-container button {
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    vertical-align: top; }
.eegeo-zoom-buttons-container #eegeo-zoom-in-button-container {
    margin-right: 10px; }
.eegeo-zoom-buttons-container #eegeo-zoom-in-button-container button {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/zoom_buttons/v233/resources/zoom_in.png"); }
.eegeo-zoom-buttons-container #eegeo-zoom-in-button-container button:hover {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/zoom_buttons/v233/resources/zoom_in_hover.png"); }
.eegeo-zoom-buttons-container #eegeo-zoom-out-button-container button {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/zoom_buttons/v233/resources/zoom_out.png"); }
.eegeo-zoom-buttons-container #eegeo-zoom-out-button-container button:hover {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/zoom_buttons/v233/resources/zoom_out_hover.png"); }
.eegeo-zoom-buttons-container.visible {
    transform: translateX(0); }
.eegeo-zoom-buttons-container.hidden {
    transform: translateX(100px); }
.eegeo-zoom-buttons-container.animated {
    transition: transform 300ms ease; }

.wrld-compass-container {
    position: relative;
    z-index: 100;
    display: inline-block;
    width: 80px;
    height: 80px; }
.wrld-compass-container .wrld-compass-outer-ring {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/compass/v233/resources/compass_ring.png");
    width: 80px;
    height: 80px;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    transition: opacity 200ms ease; }
.wrld-compass-container .wrld-compass-outer-ring.focussed {
    opacity: 1; }
.wrld-compass-container .wrld-compass-inner {
    width: 52px;
    height: 52px;
    display: inline-block;
    position: absolute;
    top: calc((80px - 52px) / 2);
    left: calc((80px - 52px) / 2);
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/compass/v233/resources/compass_new_locate.png"); }
.wrld-compass-container .wrld-compass-inner:hover {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/compass/v233/resources/compass_new_locate_over.png"); }
.wrld-compass-container .wrld-compass-inner:active {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/compass/v233/resources/compass_new_locate_down.png"); }
.wrld-compass-container .preload::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/compass/v233/resources/compass_ring.png") url("https://cdn-webgl.wrld3d.com/wrldjs/addons/compass/v233/resources/compass_new_locate.png") url("https://cdn-webgl.wrld3d.com/wrldjs/addons/compass/v233/resources/compass_new_locate_over.png") url("https://cdn-webgl.wrld3d.com/wrldjs/addons/compass/v233/resources/compass_new_locate_down.png"); }
.wrld-compass-container.visible {
    transform: translateY(0px); }
.wrld-compass-container.hidden {
    transform: translateY(100px); }
.wrld-compass-container.animated {
    transition: transform 300ms ease; }

.wrld-compass-control-container {
    position: relative;
    z-index: 100;
    display: inline-block;
    width: 72px;
    height: 72px; }
.wrld-compass-control-container .wrld-compass-control-outer-ring {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/compass_control/v233/resources/compass_control_ring.png");
    width: 72px;
    height: 72px;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
    transition: opacity 200ms ease;
    pointer-events: none; }
.wrld-compass-control-container .wrld-compass-control-outer-ring.focussed {
    opacity: 0; }
.wrld-compass-control-container .wrld-compass-control-outer-ring-blue {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/compass_control/v233/resources/compass_control_ring_drag.png");
    width: 72px;
    height: 72px;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity 200ms ease;
    border-radius: 50%; }
.wrld-compass-control-container .wrld-compass-control-outer-ring-blue.focussed {
    opacity: 1; }
.wrld-compass-control-container .wrld-compass-control-arrow-button {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/compass_control/v233/resources/compass_control_arrow.png");
    width: 10px;
    height: 10px;
    display: inline-block;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto; }
.wrld-compass-control-container .wrld-compass-control-arrow-button:hover {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/compass_control/v233/resources/compass_control_arrow_point_hover.png"); }
.wrld-compass-control-container .wrld-compass-control-arrow-button.focussed {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/compass_control/v233/resources/compass_control_arrow_point_hover.png"); }
.wrld-compass-control-container .wrld-compass-control-arrow-button.ring-focussed {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/compass_control/v233/resources/compass_control_arrow_ring_hover.png"); }
.wrld-compass-control-container .wrld-compass-control-arrow-button.north {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/compass_control/v233/resources/compass_control_north.png");
    top: 1px;
    left: calc((72px / 2) - (10px / 2)); }
.wrld-compass-control-container .wrld-compass-control-arrow-button.north:hover {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/compass_control/v233/resources/compass_control_north_hover.png"); }
.wrld-compass-control-container .wrld-compass-control-arrow-button.north.focussed {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/compass_control/v233/resources/compass_control_north_hover.png"); }
.wrld-compass-control-container .wrld-compass-control-arrow-button.north.ring-focussed {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/compass_control/v233/resources/compass_control_north_ring_hover.png"); }
.wrld-compass-control-container .wrld-compass-control-arrow-button.south {
    bottom: 1px;
    left: calc((72px / 2) - (10px / 2));
    transform: rotate(180deg); }
.wrld-compass-control-container .wrld-compass-control-arrow-button.west {
    left: 1px;
    top: calc((72px - 10px) / 2);
    transform: rotate(-90deg); }
.wrld-compass-control-container .wrld-compass-control-arrow-button.east {
    right: 1px;
    top: calc((72px - 10px) / 2);
    transform: rotate(90deg); }
.wrld-compass-control-container .wrld-compass-control-inner {
    width: 42px;
    height: 42px;
    display: inline-block;
    position: absolute;
    top: calc((72px - 42px) / 2);
    left: calc((72px - 42px) / 2);
    border-radius: 50%;
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/compass_control/v233/resources/compass_control_needle.png"); }
.wrld-compass-control-container .wrld-compass-control-inner:hover {
    background-image: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/compass_control/v233/resources/compass_control_needle_hover.png"); }
.wrld-compass-control-container .preload::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url("https://cdn-webgl.wrld3d.com/wrldjs/addons/compass_control/v233/resources/compass_control_ring.png") url("https://cdn-webgl.wrld3d.com/wrldjs/addons/compass_control/v233/resources/compass_control_needle.png") url("https://cdn-webgl.wrld3d.com/wrldjs/addons/compass_control/v233/resources/compass_control_needle_hover.png") url("https://cdn-webgl.wrld3d.com/wrldjs/addons/compass_control/v233/resources/compass_control_arrow.png") url("https://cdn-webgl.wrld3d.com/wrldjs/addons/compass_control/v233/resources/compass_control_arrow_point_hover.png") url("https://cdn-webgl.wrld3d.com/wrldjs/addons/compass_control/v233/resources/compass_control_arrow_ring_hover.png") url("https://cdn-webgl.wrld3d.com/wrldjs/addons/compass_control/v233/resources/compass_control_north.png") url("https://cdn-webgl.wrld3d.com/wrldjs/addons/compass_control/v233/resources/compass_control_north_hover.png") url("https://cdn-webgl.wrld3d.com/wrldjs/addons/compass_control/v233/resources/compass_control_north_ring_hover.png"); }

.wrld-widget-container {
    position: absolute;
    right: 10px;
    left: 10px;
    top: 10px;
    bottom: 10px; }